{% extends "::base.html.twig" %}

{% block title %}Bienvenue Chercheur{% endblock %}

{%block menu %}
<div class="well" >
    <ul class="nav nav-list">
        <li class="active"><a href={{ path("Inra2013urzBundle_Redirectionagent")}}><i class="icon-home icon-white"></i> Home</a></li>
        <li><a href={{path("Inra2013Bundle_CreateProtocole")}}><i class="icon-file"></i> Crée un protocole</a></li>
        <li><a href="{{path('Inra2013Bundle_VoirAnalyseChercheur')}}"><i class="icon-eye-open"></i> Voir un protocole </a></li>
        <li><a  href="{{path("Inra2013Bundle_CreateExcel")}}" ><i class=" icon-download-alt"></i> Exporter fichier protocole </a></li>
        <li><a href="#"><i class="i"></i></a></li>
    </ul>
</div>
{%endblock%}

{% block body %}

{%if response is empty%}
<div class="alert alert-info">
    <h4>VOUS AVEZ AUCUN PROTOCOLE EN COURS</h4>
</div>
{%else%}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Protocole</th>
            <th>Valider le</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
        {% for Encours in response %}
            <tr class="{{attribute(ValideChercheur.class,Encours.Validation)}}">
                <td>{{loop.index}}</td>
                {% if Encours.Validation == 2 %}
                <td><a href="{{path("Inra2013Bundle_VoirAnalyseChercheur",{'NumProtocole':Encours.id})}}" >{{Encours.NomProtocole}}</a></td>
               {% else %}
                    <td>{{Encours.NomProtocole}}</td>

                    {%endif%}
                    <td>{{Encours.DateValidation|date("d-m-Y")}}</td>  
                    <td>{{attribute(ValideChercheur.info,Encours.Validation)}}</td>
                </tr> 


{% endfor %} 

            </tbody>
        </table>

{% endif %} 


{%endblock %}
