 {% extends "Inra2013urzBundle::layout.html.twig" %} 
{#% extends "::base.html.twig" % #}



{% block title %}erreur_login{% endblock %}

{% block fos_user_content %}
{% if error %}

{% block menu %} 
<div class="alert">
<button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
    </div> 
{% endblock %}


   <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
      
   
   {% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" /><br>

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle')  }} </label>
    <input type="password" id="password" name="_password" placeholder="password" size="7"><br>


    <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>

{% endblock  %}