{% set parent = "Inra2013urzBundle:Default:IndexUser.html.twig"%}
{% if User =="Chercheur" %}
{% set parent = "Inra2013urzBundle:Default:IndexChercheur.html.twig" %}
{% endif%}
{%extends parent %}

{% block title %}Exporter Fichier{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/C.css')}}" />
{% endblock %}
{% block body %}
{%if type == "createanalyse" %}
<legend>Créer des analyses pour protocole</legend>
{%elseif type == "voiranalyse"%}
<legend>Visualisation des résultats d'un protocole</legend>
{%elseif type == "createxcel"%}
<legend>Génération du fichier protocole</legend>
{%elseif type == "ImportResultat"%}
<legend>Importation des resultats par feuille excel</legend>
{%else%}
<legend>Modification des analyses pour protocole</legend>

{%endif%}
<div class="well">
    <form class="form-search" action="{{path('Inra2013Bundle_SearchProtocole')}}" method="POST">
        <label>Quel est votre protocole ?</label>
        </br>

        <input type="text" id="protocole" name="protocole" required="required" />
        <input type="hidden" name="idprotocole" id="institut" />
        <input type="hidden" name="demande" value="{{type}}"/>
               <button type="submit" class="btn">Search</button>
    </form>
</div>

{% if protocole is defined %}

    <form class="form-search" action="{{path(form_path)}}" method="POST">

<div class="alert alert-info"> <button type="button" class="close" data-dismiss="alert">&times;</button>
    <dl class="dl-horizontal">
        <dt>Num Protocole : </dt>
        <dd>{{protocole[0].id}}</dd>
        <dt>Description : </dt>
        <dd>{{protocole[0].NomProtocole}}</dd>
        <dt>Dirigé par : </dt>
        <dd>{{protocole[0].Responsable.Nom}} {{protocole[0].Responsable.Prenom}}</dd>
        <dt>Date validation: </dt>
        <dd>{{protocole[0].DateValidation | date("d M Y")}}</dd>
        <dt>Description:</dt>
        <dd>{{ protocole[0].Description | raw  }}</dd>
        <dt>Analyse faite : </dt>
        <dd>
    {% for analyse in Analyse %}
                
                {{analyse.Nom}},
                
                {%endfor%}
        
        </dd>
    </dl>
        </br>
        <input type="hidden" name="NumProtocole" value="{{protocole[0].id}}" />
        <input type="hidden" name="demande" value="{{type}}" />
        <input type="submit"  value="{{form_value}}" class="btn btn-primary" />
</div>
    </form>
{% endif %}

{%endblock%}

{% block javascripts %}

<script type="text/javascript" src="{{asset('js/jquery.ui.autocomplete.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery-ui-1.10.0.custom.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.ui.core.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.ui.position.min.js')}}"></script>




<script type="text/javascript">

       $(document).ready(function () {


            $("#protocole").autocomplete({
    
                source: function (request, response) {
                    
                    var id = $('#protocole').val();
                 console.log("Id;" +id);
                    var DATA = 'id=' + id;
                    $.ajax({
                        url: "{{ path('Inra2013Bundle_SearchProtocole') }}", 
                        method: "POST",
                        dataType: "json",
                        data: DATA,
                        success: function (data) {
                            response($.map(data, function (item,i) {  
                              
                                return {                                   
                         
                                    value: item.NomProtocole,
                                    id: item.id,
                                    }
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                
                    $('#institut').val( ui.item.id);
                
                },
                change: function (event, ui) {
                 
                    $('#institut').val(ui.item.id);



                }
            });
     
      });
     
     
      
    </script>

{% endblock %}