{% extends "Inra2013urzBundle:Default:IndexUser.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/C.css')}}" />
{% endblock %}
{%block body%}


<table class="table table-striped">
    <thead>


        {% for keys,Resultat in RequeteChamp %}
    <td>{{keys}}</td>
        {% endfor %} 


</thead>
<tbody>
    <tr>
        {% for Resultat in RequeteChamp %}
            <td>{{Resultat.Champ}}</td>
        {% endfor %} 
        </tr>

    </tbody>
</table>

<form action="{{ path('Inra2013Bundle_FormuleChamp') }}" method="post" >
    <table class="table table-striped">

            <thead> <tr>
 {% for keys,Resultats in FindChamps %}

            <th>Formule appliqué pour {{Resultats.Champ}}</th>

{% endfor %}       
          </tr>      
            </thead>
            <tbody>
               
 <tr>

                    {% for tag in form_formule.ChampsFormule %}
                   
                    <td>{{ form_widget(tag.FormuMath) }}</td>
                     
                    {% endfor%}
               </tr>
            </tbody>

        

        </table>
        {{ form_errors(form_formule) }}       
         {{ form_rest(form_formule) }}       

        <input type="hidden" name="typeAnalyse" value={{NumProtocole}} />
        <input type="submit" class="btn btn-primary" />


    </form>





{% endblock %}
